
<!DOCTYPE html>
<html>
     <head>
         <title>IT Girls BLOG</title>
          <link rel="stylesheet" href="styles.css">
</head>
<body>
    <a href="index.html">Home</a>  |  <a href="blog.html">BLOG</a>

    <h1>Myah's IT Girls BLOG</h1>

    div {
        border:1px  solid black;
        margin: 30px;
        padding: 50px;
        background-color:  white;
        border-radius: 25px;
        {

    